*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232533;
    overflow: hidden;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform-style: preserve-3d;
    margin-bottom: 200px;
}
.cards{
    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.cards label{
    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform .5s ease;
}
.cards .card{
    position: relative;
    height: 100%;
    background-color: #323444;
    border-radius: 10px;
    padding: 30px 35px;
}
.cards .image{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards .image img{
    height: 280px;
    width: 75%;
    border-radius: 5px;
    transition: .6s;
    margin-left: 10px;
    transform: scale(1.08);
    filter: drop-shadow(10px 12px 5px rgba(0,0,0,0.2));
}
.cards .image img:hover{
    transform: scale(1.13) translateY(-10px) rotate(15deg);
}
.cards .image .dots{
    text-align: center;
}
.dots div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.dots div:nth-child(1){
    background-color: black;
}
.dots div:nth-child(2){
    background-color: white;
}
.dots div:nth-child(3){
    background-color: navajowhite;
}
.dots div:nth-child(4){
    background-color: red;
}


#slider1:checked~ .cards #slide1,
#slider2:checked~ .cards #slide2,
#slider3:checked~ .cards #slide3,
#slider4:checked~ .cards #slide4{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 35%);
    transform: translate3d(-70% , 0 , -220px);
    --current-color: rgba(255,255,255,0.5);
    --current-color2: rgba(255,255,255,0.5);
}

#slider1:checked~ .cards #slide2,
#slider2:checked~ .cards #slide3,
#slider3:checked~ .cards #slide4,
#slider4:checked~ .cards #slide1{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 35%);
    transform: translate3d(-35% , 0 , -110px);
    --current-color: #e8aa42;
    --current-color2: #e8aa42;
}

#slider1:checked~ .cards #slide3,
#slider2:checked~ .cards #slide4,
#slider3:checked~ .cards #slide1,
#slider4:checked~ .cards #slide2{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 35%);
    transform: translate3d(0% , 0 , 0px);
    --current-color: #e57c23;
    --current-color2: #eaeaea;
}

#slider1:checked~ .cards #slide4,
#slider2:checked~ .cards #slide1,
#slider3:checked~ .cards #slide2,
#slider4:checked~ .cards #slide3{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 35%);
    transform: translate3d(35% , 0 , -110px);
    --current-color: #e8aa42;
    --current-color2: #e8aa42;
}
.card .info{
    display: flex;
    text-align: end;
    padding-top: 60px;
    flex-direction: column;
}
.card .info span{
    display: block;
}
.info .name{
    font-size: 28px;
    color: var(--current-color2);
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 25%;
    transition: .6s;
}

.info .Details{
    font-size: 16px;
    color: var(--current-color2);
    letter-spacing: 2px;
    font-weight: 500;
}
.info .btnBuy{
    width: 100%;
    height: 60px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: var(--current-color);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--current-color2);
    transition: .6s;
}
.info .btnBuy:hover{
    background: #e57c23;
    transform: scale(1.03) translateY(-5px);
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
.icons i{
    font-size: 1.2rem;
    color: var(--current-color);
    transition: .6s;
}
.icons i:hover{
        color: var(--current-color2);
}

input{
    display: none;
}